<!-- Header -->
{% include "header.html" %}

  <body>
    <!-- Sidebar -->
    {% include "sidebar.html" %}

    <main id="main" class="main">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid p-0">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <ul class="nav justify-content-center">
            <li>
              <h1>Dashboard</h1>
            </li>
            <li>
              <form id="myForm" method="POST" class="m-3">
                <select id="myForm" name="mySelect" onchange="submitForm()">
                  <option> <span>Month: </span> {{ selected_month }}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <!-- <button type="submit">Submit</button> -->
            </form>
            </li>
          </ul>
          <div>
            <ul class="nav justify-content-center">
              <li>
                <i class="fa-solid fa-circle-user fa-2xl"></i>
                {% if (current_user_id != 'None') %}
                <select id="myForm2" name="mySelect" onchange="location = this.value;">
                  <option>{{user_info[0][1]}}</option>
                    <option value="account">My account</option>
                    <option value="signout">Sign out</option>
                </select>
                {% else %}
                <select id="myForm2" name="mySelect" onchange="location = this.value;">
                  <option>Account</option>
                    <option value="signup">Sign up</option>
                    <option value="signin">Sign in</option>
                </select>
                {% endif %}
              </li>
            </ul>
          </div>

        </div>
      </nav>

      <script>
        function submitForm() {
            document.getElementById("myForm").submit();
        }
      </script>
      

      <div class="m-2">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard">Home</a> / </li>
            <li class="breadcrumb-itemf active">Dashboard</li>
          </ol>
        </nav>
      </div>


          
      <div class="row">

        <!-- Car Counts -->
        <div class="col-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-car fa-2xl"></i>
                </div>
                <div class="ps-3">
                  <h6>{{num_cars}}</h6>
                  <span class="text-muted small pt-2 ps-1">Car Counts</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Detected Speedings -->
        <div class="col-4">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-gauge fa-2xl"></i>
                </div>
                <div class="ps-3">
                  <h6>{{num_exceedings}}</h6>
                  <span class="text-muted small pt-2 ps-1">Detected Speedings</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Traffic Report -->
        <div class="col-4">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-circle-exclamation fa-2xl"></i>
                  </div>
                  <div class="ps-3">
                    <h6>10</h6>
                    <span class="text-muted small pt-2 ps-1">Traffic Report</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      <div class="row">
        <div class="col-8">
          <div class="card p-3">
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                  document.getElementById('chart_div1').innerHTML = '<p>Loading chart...</p>';
                });
                google.charts.load('current', {'packages':['bar']});
                google.charts.setOnLoadCallback(drawChart1);
        
                function drawChart1() {
                  var data = google.visualization.arrayToDataTable({{data1 | safe}});
                  var options = {
                    chart: { 
                      title: 'Total Cars',
                    },
                    legend: {'position': 'none'},
                    axes: {
                      x: {
                        0: { side: 'bottom', label: 'Date'}
                      },
                      y: {
                        0: { side: 'left', label: 'Number of Cars'}
                      }
                    }, 
                  };
                  var chart = new google.charts.Bar(document.getElementById('chart_div1'));
                  chart.draw(data, options);
                }
            
                // Refresh the chart after 3 second
                setTimeout(drawChart1, 3000);


              </script>            
            <div id="chart_div1" style="width: 800px; height: 400px;"></div>
          </div>
        </div>


        <div class="col-4">
          <div class="row">
              <!-- Incidents -->
              <div class="col-6">
                  <div class="card info-card sales-card">
                  <div class="card-body">
                      <div class="d-flex align-items-center">
                      <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="fa-solid fa-car-burst"></i>
                      </div> -->
                      <div class="ps-3">
                          <h6>1,000</h6>
                          <span class="text-muted small pt-2 ps-1">Incidents</span>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>

              <!-- Warning -->
              <div class="col-6">
                  <div class="card info-card sales-card">
                  <div class="card-body">
                      <div class="d-flex align-items-center">
                      <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="fa-solid fa-car"></i>
                      </div> -->
                      <div class="ps-3">
                          <h6>1,000</h6>
                          <span class="text-muted small pt-2 ps-1">Warning</span>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="row">
              
          </div>

          <!-- Recent Sales -->
          <div class="col-12">
              <div class="card p-2">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  document.addEventListener('DOMContentLoaded', function() {
                    document.getElementById('chart_div2').innerHTML = '<p>Loading chart...</p>';
                  });
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart2);
          
                  function drawChart2() {
                      var data = google.visualization.arrayToDataTable({{ data2 | safe }});
                      var materialOptions = {
                        chart: {
                          title: 'Number of Speedings',
                          <!-- subtitle: 'Based on most recent and previous census data' -->
                        },
                        hAxis: {
                          minValue: 0,
                        },
                        vAxis: {
                          title: ''
                        },
                        bars: 'horizontal',
                        legend: {'position': 'none'},
                        height: 300,
                      };
          
                      var materialChart = new google.charts.Bar(document.getElementById('chart_div2'));
                      materialChart.draw(data, materialOptions);
                  }
                  // Refresh the chart after 3 second
                  setTimeout(drawChart2, 3000);
                </script>
                <div id="chart_div2"></div>
              </div>
          </div>

        </div>
      </div>

      <div class="row">
          <div class="col-2">
              <div class="card pb-3">
                <div class="card-body">
                  <h1 class="card-title">Accidents <span>| -</span></h1>
                  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                      document.getElementById('chart_div1').innerHTML = '<p>Loading chart...</p>';
                    });

                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
            
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable({{ data3 | safe }});
            
                        var options = {
                            title: 'Accidents',
                            fontSize: 10,
                            width: 150,
                            height: 150,
                            is3D: false,
                            chartArea: {'width': '100%', 'height': '100%'},
                            legend: {'position': 'none'}
                        };
            
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
                        chart.draw(data, options);
                    }
                  </script>

                  <div id="chart_div3"></div>
                </div>
              </div>
          </div>
          <div class="col-2">
            <div class="card pb-3">
              <div class="card-body">
                <h1 class="card-title">Cameras <span>| -</span></h1>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);
          
                  function drawChart() {
                      var data = google.visualization.arrayToDataTable({{ data4 | safe }});
          
                      var options = {
                        title: 'Cameras',
                        fontSize: 10,
                        width: 150,
                        height: 150,
                        is3D: false,
                        chartArea: {'width': '100%', 'height': '100%'},
                        legend: {'position': 'none'}
                    };
          
                      var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
                      chart.draw(data, options);
                  }
                </script>
                <div id="chart_div4"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card pb-3">
              <div class="card-body">
                <h1 class="card-title">Car Volume <span>| -</span></h1>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  google.charts.load('current', {'packages':['table']});
                  google.charts.setOnLoadCallback(drawTable);
          
                  function drawTable() {
                      var data = new google.visualization.DataTable();
                      data.addColumn('string', 'Area');
                      data.addColumn('number', 'In');
                      data.addColumn('number', 'Out');
                      data.addColumn('number', 'Volumes');
                      data.addRows({{ data5 | safe }});
                      
                      var table = new google.visualization.Table(document.getElementById('table_div1'));
          
                      var options = {
                          showRowNumber: true,
                          width: '100%', 
                          height: '150px'
                      };
          
                      table.draw(data, options);
                  }
                </script>
                <div id="table_div1"></div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div id="map"></div>
            <script>
              function initMap() {
                const auckland_lat = -36.85086441040039;
                const auckland_lng = 174.7642364501953;

                const mapOptions = {
                  zoom: 14,
                  center: { lat: auckland_lat, lng: auckland_lng }, 
                };
              
                map = new google.maps.Map(document.getElementById("map"), mapOptions);
                
                
                const marker = new google.maps.Marker({
                  position: { lat: auckland_lat+0.001, lng: auckland_lng+0.001 },
                  map: map,
                });
                const marker2 = new google.maps.Marker({
                  position: { lat: auckland_lat-0.001, lng: auckland_lng-0.001 },
                  map: map,
                });
              
                const infowindow = new google.maps.InfoWindow({
                  content: "<p>Marker Location:" + marker.getPosition() + "</p>",
                });
              
                google.maps.event.addListener(marker, "click", () => {
                  infowindow.open(map, marker);
                });
                
              }
            </script>

            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8HHqTm9nMj4uO58sHD37iT7W_j0K5LY4&callback=initMap&v=weekly"></script>

            <!-- <gmp-map center="-36.85086441040039,174.7642364501953" zoom="14" map-id="DEMO_MAP_ID">
              <gmp-advanced-marker position="-36.85086441040039,174.7642364501953" title="My location"></gmp-advanced-marker>
            </gmp-map> -->
          </div>
        </div>
      </div>
    </main>

  </body>
</html>