<!-- Header -->
{% include "header.html" %}

  <body id="landing">
    <div class="m-5">
      <!-- Logo -->
      <div class="d-flex align-items-center justify-content-between mb-5">
        <a href="/" class="logo d-flex align-items-center text-decoration-none">
          <img src="../static/img/logo-white.png" alt="">
          <span class="d-none d-lg-block text-white">Visions</span>
        </a>
      </div>


      <!-- Alert -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} 
          {% for message in messages %} 
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div> 
          {% endfor %} 
      {% endif %} 
      {% endwith %}

      <div class="d-flex justify-content-center pt-5 mt-5">
        <form class="card p-4 form" action="/signin_account", method="post">
          <h2 class="fw-bold mb-5">Log in</h2>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>  
          <div class="py-3">
            <a href="/dashboard" class="btn btn-primary my-3 width-max" role="button">Continue</a>
          </div>        

          
          
          <div class="d-flex justify-content-center my-3">
            <p class="text-secondary"><span>─────────────── </span>New to here?<span> ─────────────── </span></p>
          </div>
          <div class="py-3">
            <a href="/signup" class="btn btn-light border border-secondary my-3 width-max" role="button">Create your account</a>
          </div>

        </form>
      </div>
    </div>

  </body>
</html>
