<!-- Header -->
{% include "header.html" %}

  <body id="landing">

    <!-- Alert -->
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
        {% for message in messages %} 
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div> 
        {% endfor %} 
    {% endif %} 
    {% endwith %}
    <div class="m-5">
      <!-- Logo -->
      <div class="d-flex align-items-center justify-content-between mb-5">
        <a href="/" class="logo d-flex align-items-center text-decoration-none">
          <img src="../static/img/logo-white.png" alt="">
          <span class="d-none d-lg-block text-white">Visions</span>
        </a>
      </div>
      <div class="d-flex justify-content-center pt-5 mt-5">
        <form class="card p-4 form" method="POST" enctype="multipart/form-data" action="/signup">
          {{ form.hidden_tag() }} 

          <h2 class="fw-bold mb-5">Create account</h2>

          <div class="form-group">
            <div class="row">
              <div class="col">
                {{ form.first_name.label(style='padding: 5px 0px;') }} <br> 
                {{ form.first_name(style='width: 285px;') }} <br> 
                <!-- Error Message -->
                {% for message in form.first_name.errors %} 
                  <div class="text-danger">{{message}}</div> 
                {% endfor %} 
              </div>
              <div class="col">
                {{ form.last_name.label(style='padding: 5px 0px;') }} <br> 
                {{ form.last_name(style='width: 285px;') }} <br> 
                <!-- Error Message -->
                {% for message in form.last_name.errors %} 
                  <div class="text-danger">{{message}}</div> 
                {% endfor %} 
              </div>
            </div>
          </div>

          <div class="form-group">
            {{ form.email.label(style='padding: 5px 0px;') }} <br> 
            {{ form.email(style='width: 600px;') }} <br> 
            <!-- Error Message -->
            {% for message in form.email.errors %} 
              <div class="text-danger">{{message}}</div> 
            {% endfor %} 
          </div>
          <div class="form-group">
            {{ form.password.label(style='padding: 5px 0px;') }} <br> 
            {{ form.password(style='width: 600px;') }} <br> 
            <!-- Error Message -->
            {% for message in form.password.errors %} 
              <div class="text-danger">{{message}}</div> 
            {% endfor %} 
          </div>        
          <div class="form-group">
            {{ form.re_enter_password.label(style='padding: 5px 0px;') }} <br> 
            {{ form.re_enter_password(style='width: 600px;') }} <br> 
            <!-- Error Message -->
            {% for message in form.re_enter_password.errors %} 
              <div class="text-danger">{{message}}</div> 
            {% endfor %} 
          </div>
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary my-3 width-max">Continue</button>
          </div>

          <h6>Already have an account?<span class="px-2"><a href="/signin">Signin</a></span></h6>

        </form>
      </div>
      
    </div>

  </body>
</html>