<!-- Header -->
{% include "header.html" %}

  <body id="landing">
    <!-- Alert -->
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
        {% for message in messages %} 
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div> 
        {% endfor %} 
    {% endif %} 
    {% endwith %}

    <div class="m-5">
      <!-- Logo -->
      <div class="d-flex align-items-center justify-content-between mb-5">
        <a href="/" class="logo d-flex align-items-center text-decoration-none">
          <img src="../static/img/logo-white.png" alt="">
          <span class="d-none d-lg-block text-white">Visions</span>
        </a>
      </div>

      <div class="d-flex justify-content-center pt-5 mt-5">
        <form class="card p-4 form" action="/signin", method="post">
          {{ form.hidden_tag() }} 

          <h2 class="fw-bold mb-5">Sign in</h2>
          <div class="form-group">
              {{ form.email.label(style='padding: 5px 0px;') }} <br> 
              {{ form.email(style='width: 600px;') }} <br>
              <!-- Error Message -->
              {% for message in form.email.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
          </div>
          <div class="form-group">
            {{ form.password.label(style='padding: 5px 0px;') }} <br> 
            {{ form.password(style='width: 600px;') }} <br>
            <!-- Error Message -->
            {% for message in form.password.errors %} 
              <div class="text-danger">{{message}}</div> 
            {% endfor %} 
          </div>  
          <div class="col-12 py-3">
            <button type="submit" class="btn btn-primary my-3 width-max">Continue</button>
          </div>

          <!-- <div class="py-3">
            <a href="/dashboard" class="btn btn-primary my-3 width-max" role="button">Continue</a>
          </div>         -->

          
          
          <div class="d-flex justify-content-center my-3">
            <p class="text-secondary"><span>─────────────── </span>New to here?<span> ─────────────── </span></p>
          </div>
          <div class="py-3">
            <a href="/signup" class="btn btn-light border border-secondary my-3 width-max" role="button">Create your account</a>
          </div>

        </form>
      </div>
    </div>

  </body>
</html>
