<!-- Header -->
{% include "header.html" %}

  <body>
    <nav class="navbar navbar-dark bg-dark p-3">
      <a href="/" class="logo d-flex align-items-center text-decoration-none">
        <img src="../static/img/logo-white.png" alt="">
        <span class="d-none d-lg-block text-white">Visions</span>
      </a>
    </nav>
    <!-- <div class="d-flex align-items-center justify-content-between mb-5">
      <a href="/" class="logo d-flex align-items-center text-decoration-none">
        <img src="../static/img/logo-white.png" alt="">
        <span class="d-none d-lg-block text-white">Visions</span>
      </a>
    </div> -->
    
    <div class="container-sm">

      <div class="text-success text-center mt-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes list-unstyled">
          {% for message in messages %}
            <li>
              <h5>{{ message }}</h5>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
      </div>

      <h3 class="mt-5 mx-4">Report Traffic Issues</h3>
      <div class="card mx-5">
        <div class="card-body">
          <!-- <form class="row g-3"> -->
          <form method="POST" enctype="multipart/form-data" action="/user_form">
            <div class="row mt-3">
              <div class="col-md-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" id="firstName" name="firstName">
              </div>
              <div class="col-md-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="lastName" name="lastName">
              </div>
              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" id="email" name="email">
              </div>
            </div>
            
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" placeholder="000-000-0000" id="phone" name="phone">
              </div>
              <div class="col-md-6">
                <label for="location" class="form-label">Location:</label><br>
                <input type="text" class="form-control" placeholder="street1 Auckland CBD Auckland" id="location" name="location" ><br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="detail" class="form-label">Detail</label>
                <textarea class="form-control" id="detail" placeholder="" rows="3" name="detail" required></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="mt-2">
                  <label for="file">Upload Image:</label><br>
                  <input type="file" id="file" name="file" accept="image/*"><br>
                </div>
                <div class="mt-2">
                  <label for="video">Upload Video:</label><br>
                  <input type="file" id="video" name="video" accept="video/*"><br>
                </div>
              </div>
            </div>

            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </body>
</html>
