<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<body class="py-0 px-0 m-0 border-0 bd-example">
  <nav class="navbar navbar-dark bg-dark p-3">
    <a href="/" class="logo d-flex align-items-center text-decoration-none">
      <img src="../static/img/logo-white.png" alt="">
      <span class="d-none d-lg-block text-white">Visions</span>
    </a>
  </nav>

  
  <div class="container-sm">
    <div class="text-success text-center mt-4">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes list-unstyled">
        {% for message in messages %}
          <li>
            <h5>{{ message }}</h5>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>

    <h3 class="mt-5 mx-4">Report Traffic Issues</h3>
    <div class="card mx-5">
      <div class="card-body">
        <!-- <form class="row g-3"> -->
        <form method="POST" enctype="multipart/form-data" action="/user_report">
          {{ form.hidden_tag() }} 

          <div class="row mt-3">
            <div class="col-md-3">
              {{ form.first_name.label(style='padding: 5px 0px;') }} <br> 
              {{ form.first_name(style='width: 250px;') }} <br> 
              <!-- Error Message -->
              {% for message in form.first_name.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>

            <div class="col-md-3">
              {{ form.last_name.label(style='padding: 5px 0px;') }} <br> 
              {{ form.last_name(style='width: 250px;') }} <br> 
              <!-- Error Message -->
              {% for message in form.last_name.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
            <div class="col-md-6">
              {{ form.email.label(style='padding: 5px 0px;') }} <br> 
              {{ form.email(style='width: 550px;') }} <br>
              <!-- Error Message -->
              {% for message in form.email.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col-md-6">
              {{ form.phone.label(style='padding: 5px 0px;') }} <br> 
              {{ form.phone(style='width: 550px;') }} <br>
              <!-- Error Message -->
              {% for message in form.phone.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
            <div class="col-md-6">
              {{ form.location.label(style='padding: 5px 0px;') }} <br> 
              {{ form.location(style='width: 550px;') }} <br>
              <!-- Error Message -->
              {% for message in form.location.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              {{ form.plate_number.label(style='padding: 5px 0px;') }} <br> 
              {{ form.plate_number(style='width: 550px;') }} <br>
              <!-- Error Message -->
              {% for message in form.plate_number.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
            <div class="col-md-6">
              {{ form.car_type.label(style='padding: 5px 0px;') }} <br> 
              {{ form.car_type(style='width: 550px;') }} <br>
              <!-- Error Message -->
              {% for message in form.car_type.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              {{ form.detail.label(style='padding: 5px 0px;') }} <br> 
              {{ form.detail(style='width: 1150px; height: 200px;') }} <br>
              <!-- Error Message -->
              {% for message in form.detail.errors %} 
                <div class="text-danger">{{message}}</div> 
              {% endfor %} 
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="mt-2">
                <label for="file">Upload Image:</label><br>
                {{ form.image }} <br> 
              </div>
              <div class="mt-2">
                <label for="video">Upload Video:</label><br>
                {{ form.video }} <br> 
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>